/* отключаемы выделение текста */
*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: sans-serif;
}

#game {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* игровой мир */
.world {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
}

/* набранные очки */
.score {
  position: absolute;
  font-size: 3vmin;
  right: 2vmin;
  top: 1vmin;
}

/* начальная надпись */
.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* скрытие элементов */
.hide {
  display: none;
}

/* поверхность */
.ground {
  --left: 0;
  position: absolute;
  width: 500%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

/* динозавр */
.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

/* кактус */
.cactus {
  position: absolute;
  left: 90%;
  height: 30%;
  bottom: 0;
}

/* движение кактуса */
.motion {
  animation: cactusMove 2.5s infinite linear;
}

/* анимация кактуса*/
@keyframes cactusMove {
  0% {
    left: 110%;
  }

  100% {
    left: -20px;
  }
}

/* прыжок динозвра */
.jump {
  animation: jump 0.4s cubic-bezier(0.25, 0.1, 0.1, 1.0);
}

/*  анимация прыжка  */
@keyframes jump {
  0% {
    top: 30%;
  }

  50% {
    top: 0%;
  }

  100% {
    top: 30%;
  }
}

/* анимация движения земли */
.slide {
  animation: slide 8s linear infinite;
}

/* движение земли */
@keyframes slide {
  0% {
    transform: translate(0);
  }

  100% {
    /* ширина изображения */
    transform: translate(-4798px);
  }
}